.App {
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    width: 30%;
}

h1 {
    font-family: cursive;
    font-style: italic;
    background: linear-gradient(rgb(243, 243, 19), rgb(248, 162, 34));
}